<table class="client-table">
  <tr>
  <td>Name</td><td>Shares</td><td>Unit price</td><td>Total</td>
  </tr>
  <% @holdings.each do |holding| %>
  <tr>
    <td><strong><%= holding.stock.name %></strong></td>
    <td><%= holding.shares %></td>
    <td><%= number_to_currency holding.stock.price %></td>
    <td><%= number_to_currency(holding.shares * holding.stock.price) %></td>
    <td><%= link_to 'Sell', '#' %></td>
  </tr>
<% end %>
<tr>
<td colspan="3"><strong>Total market value:</strong></td><td><%= number_to_currency @total %></td>
</tr>
</table>